@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./img/bg-image2.png");
 
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-family: 'Bebas Neue', cursive;
}

h3{
  font-family: 'Roboto Condensed', sans-serif;
}

button{
  font-family: 'Bebas Neue', cursive;
}

.Collserola{
  background-color: #2F430D;
}

.Montserrat{
  background-color: #c57e13;
}

.Montserrat:hover{
  background-color: #2F430D !important;
}
